# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# jetbrains and vscode
.idea/
.vscode/

# PWA
**/public/workbox-*.js
**/public/sw.js
**/public/fallback-*.js

# storybook
/storybook-static
/src/stories

# linters
.eslintcache
.stylelintcache
.husky
