@font-face {
   font-family: 'Monomaniac One';
  src: url('/fonts/MonomaniacOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato Italic';
  src: url('/fonts/Lato-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/Lato-Regular.woff2') format('woff2');
}

.vertical-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vertical-container *{
  margin: 10%;
}

.titulo-container {
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.titulo-container * {
  margin: 0px;
}

.main-title {
    color: #FFF;
    font-family: 'Monomaniac One', monospace, Arial, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitle{
    color: #FFF;
    font-family: 'Lato Italic', monospace;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.tool-icon {
    width: inherit; /* Ajuste o tamanho do ícone conforme necessário */
    vertical-align: middle; /* Alinha verticalmente o ícone com o texto */
    transition: transform 0.5s ease; /* Adiciona uma transição suave à transformação */
}

.rotate {
  animation: rotate 10s linear infinite; /* Aplica a animação 'rotate' ao ícone */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Rotação inicial */
  }
  to {
    transform: rotate(360deg); /* Rotação completa */
  }
}

.rounded-button {
  /* background-color: #74A0EF; */
  border: none;
  border-radius: 15px;
  width: 20vh;
  height: 20vh;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.rounded-button:hover {
  opacity: 0.9;
}

.rounded-button > img {
  width: 100%;
}
.footer-container {
  /* background-color: #fff; */
  /* fill: #74A0EF; */
  padding: 1rem;
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 100%;
}

.footer-link {
  margin: 0 15px;
}

.footer-link img {
  width: 4vh;
  height: 4vh;
}
