.shape {
  display: block;
}

.front, .side {
  position: absolute;
  width: inherit;
  height: inherit;
}

.block_a > .front {
  background-color: rgba(255, 165, 0);
}
.block_b > .front {
  background-color: rgb(248, 41, 14);
}
.block_c > .front {
  background-color: rgb(233, 31, 149);
}
.block_d > .front {
  background-color: rgb(36, 197, 122);
}

.block_a > .side {
  /* background-color: rgba(255, 165, 0); */
  box-shadow:
    1px 1px rgb(255, 115, 0),
    2px 2px rgb(255, 115, 0),
    3px 3px rgb(255, 115, 0),
    4px 4px rgb(255, 115, 0),
    5px 5px rgb(255, 115, 0),
    6px 6px rgb(255, 115, 0),
    7px 7px rgb(255, 115, 0),
    8px 8px rgb(255, 115, 0),
    9px 9px rgb(255, 115, 0),
    10px 10px rgb(255, 115, 0);
}

.block_b > .side {
  /* background-color: rgb(248, 41, 14); */
  box-shadow:
    1px 1px rgb(146, 17, 13),
    2px 2px rgb(146, 17, 13),
    3px 3px rgb(146, 17, 13),
    4px 4px rgb(146, 17, 13),
    5px 5px rgb(146, 17, 13),
    6px 6px rgb(146, 17, 13),
    7px 7px rgb(146, 17, 13),
    8px 8px rgb(146, 17, 13),
    9px 9px rgb(146, 17, 13),
    10px 10px rgb(146, 17, 13);
}

.block_c > .side {
  /* background-color: rgb(233, 31, 149); */
  box-shadow:
    1px 1px rgb(192, 11, 116),
    2px 2px rgb(192, 11, 116),
    3px 3px rgb(192, 11, 116),
    4px 4px rgb(192, 11, 116),
    5px 5px rgb(192, 11, 116),
    6px 6px rgb(192, 11, 116),
    7px 7px rgb(192, 11, 116),
    8px 8px rgb(192, 11, 116),
    9px 9px rgb(192, 11, 116),
    10px 10px rgb(192, 11, 116);
}

.block_d > .side {
  /* background-color: rgb(36, 197, 122); */
  box-shadow:
    1px 1px rgb(20, 114, 48),
    2px 2px rgb(20, 114, 48),
    3px 3px rgb(20, 114, 48),
    4px 4px rgb(20, 114, 48),
    5px 5px rgb(20, 114, 48),
    6px 6px rgb(20, 114, 48),
    7px 7px rgb(20, 114, 48),
    8px 8px rgb(20, 114, 48),
    9px 9px rgb(20, 114, 48),
    10px 10px rgb(20, 114, 48);
}

.void_block {
  opacity: 0;
}

.empty_block > .front{
  background-color: white;
  opacity: 0.1;
}

.block {
  padding: 0;
  width:  min(10vw, 30px);
  height: min(10vw, 30px);
}

.boardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: min(100vw, 300px);
  height: 100vh;
  z-index: 10;
}

.blockGroup {
  position: absolute;
}