@font-face {
    font-family: 'Monomaniac One';
    src: url('/fonts/MonomaniacOne-Regular.woff2') format('woff2');
}

.scoreContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.scoreContainer > :first-child {
    position: absolute;
    bottom: 10vh;
    left: 50vw;
}

.scoreValue {
    font-family: 'Monomaniac One', monospace, Arial, sans-serif;
    font-size: 5vh;
    color: white;
}